<!DOCTYPE html>
<html>
<head>
	<title>Photo and Photographer</title>
</head>
<body>
	<h1>Welcome to Photo Site!</h1>
		<nav>
			<ul>
				<li><a href="./photos">Photos</a></li>
				<li><a href="./photographers">Photographers</a></li>
			</ul>
		</nav>
</body>
</html>